.background_white{
    background-color: #ffffff;
}

.dataTables_wrapper {
    background-color: white;
}

.hidden{
	display: none;
}

table.dataTable tbody th, table.dataTable tbody td {
    white-space: nowrap;
}

.table tr:hover {
    background-color: rgba(41, 205, 234, 0.11);
    cursor: pointer;
}

.table tr:hover td {
    background-color: transparent; /* or #000 */
}

.table tr.warning td {
background-color: rgb(245, 137, 137);
}

.borrowed {
	color: rgba(236, 21, 21, 0.84) !important;
}

.employee-list {
	font-size: 15px;
}